@media(max-width: 1200px) {
  main.o-page__content {
    padding: 20px;
  }
}

@media(max-width: 768px) {
  .visibility-hidden-xs {
    visibility: hidden;
  }
  .visibility-xs {
    visibility: visible;
  }
}

//create-test
@media (max-width: 1610px) {
  .create-test {
    .test-step {
      flex-basis: 46%;
      max-width: 100%;
      &:nth-child(2n) {
        margin-right: 0;
      }
      &:nth-child(3n) {
        margin-right: 20px;
      }
    }
    .add-question-block {
      flex-basis: 46%;
      max-width: 100%;
    }
  }
}
